@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS */
:root {
  /* Colors */
  --primary-color: #edf2f8;
  --secondary-color: #892621;
  --accent-color: #551d18;
  --black100-color: #24242b;
  --black75-color: #24242bbf;
  --black50-color: rgba(36, 36, 43, 0.5);
  --black25-color: rgba(36, 36, 43, 0.25);
  --black10-color: rgba(36, 36, 43, 0.1);
  --black5-color: rgba(36, 36, 43, 0.05);
  --error-color: #ab3a30;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  /* background-color: var(--primary-color); */
  position: relative;
  background-image: url("./assets/bgIMG.png");
  /* background-size: cover; */
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
}

p {
  font-style: normal;
  font-size: 16px;
  color: var(--black75-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h1 {
  font-size: 61px;
}
h2 {
  font-size: 49px;
  @apply leading-tight;
}
h3 {
  font-size: 39px;
}
h4 {
  font-size: 31px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
}

.neomorph-shadow,
.neomorph-shadow-normal {
  /* border-radius: 16px; */
  /* background: #edf2f8; */
  box-shadow:
    8px 8px 16px #7a96b8,
    -8px -8px 16px #ffffff;
}

.neomorph-shadow-sm,
.neomorph-shadow-normal-sm {
  box-shadow:
    2px 2px 4px #7a96b8,
    -2px -2px 4px #ffffff;
}

.neomorph-inset {
  /* border-radius: 16px; */
  /* background: #edf2f8; */
  box-shadow:
    inset 4px 4px 8px #7a96b8,
    inset -4px -4px 8px #ffffff;
}
.neomorph-outline {
  box-shadow:
    8px 8px 16px #7a96b8,
    -8px -8px 16px rgb(255, 255, 255, 0.5),
    inset 4px 4px 8px #7a96b8,
    inset -4px -4px 8px rgb(255, 255, 255, 0.5);
  @apply p-2;
}

.neomorph-shadow:active,
.neomorph-shadow-sm:active {
  @apply transition-all duration-200 ease-in-out  active:shadow-inner;
}

.spacing {
  padding: 40px 0;
}
